{% extends 'app/base.html' %}
{% block content %}


<form action="{% url 'app:submit' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ form.text }}</td>
        </tr>
        <tr>
            <th>物語の終了を宣言しますか？</th>
            <td>{{ form.is_finish }}</td>
        </tr>
    </table>
    <button type="submit" class="btn">投稿</button>
</form>
{% endblock %}